$border-color: #dcdfe6;
$border-hover-color: #c6e2ff;
$border-active-color: #3a8ee6;
$border-radius: 4px;

$font-size: 14px;
$font-color: #333;
$font-hover-color: #409eff;
$font-active-color: #3a8ee6;
$font-disabled-color: #c0c4cc;

$common-height: 32px;

$placeholder-color: #c0c4cc;

$button-bg: #fff;
$button-active-bg: #ecf5ff;

$toast-padding-width: 1em;
$toast-padding-height: .8em;

$popover-bg: #fff;
$cascader-list-bg: #fff;

$collapse-item-bg: #f7f7f7;
$collapse-item-arrow-color: #606266;
$collapse-item-hover-bg: #f5f5f5;

$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

$red: #f56c6c;
