$border-color: #dcdfe6;
$border-hover-color: #c6e2ff;
$border-active-color: #3a8ee6;
$border-radius: 4px;

$font-size: 14px;
$font-color: #333;
$font-hover-color: #409eff;
$font-active-color: #3a8ee6;
$font-disabled-color: #c0c4cc;

$common-height: 32px;

$input-focus-color: $font-hover-color;
$input-hover-color: $font-disabled-color;
$input-font-color: #606266;

$input-disabled-bg: #f5f7fa;

$placeholder-color: #c0c4cc;

$button-bg: #fff;
$button-active-bg: #ecf5ff;

$toast-padding-width: 1em;
$toast-padding-height: .8em;

$popover-bg: #fff;
$cascader-list-bg: #fff;

$collapse-item-bg: #f7f7f7;
$collapse-item-arrow-color: #606266;
$collapse-item-hover-bg: #f5f5f5;

$menu-active-bg: #e6f7ff;

$red: #ff4d4f;
$gray: #909399;

.red {
  color: $red;
}

%box-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.no-border.no-border {
  border: 0;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0); }

  100% { transform: rotate(360deg); }
}

.g-loading { animation: spin .5s infinite linear; }

.slide-bottom-fade-enter-active {
  transition: all .3s ease;
}
.slide-bottom-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-bottom-fade-enter, .slide-bottom-fade-leave-to {
  opacity: .5;
  transform: translateX(-4px);
}
.slide-top-fade-enter-active {
  transition: all .3s ease;
}
.slide-top-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-top-fade-enter, .slide-top-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
